
<!--<div style="position: fixed; visibility: hidden">-->
<div>
    <div id="deezer-player"></div>
</div>

<div id="dz-root"></div>
<script src="http://cdn-files.deezer.com/js/min/dz.js"></script>

<script src="/widgets/deezer/controllers/diff.js"></script>
