<!-- Afficher : Liste des Zones Widget (par défaut : Son + écrans)
	http://www.journaldunet.com/developpeur/tutoriel/dht/040421-javascript-remplir-dynamiquement-liste.shtml-->

<html>
	<head>
		<title>Admin</title>
		<!--<link rel='stylesheet' href='/public/css/style.css' /> -->
	</head>
	<body class="admin">
		<div class="container">
			<%for (i=0; i< listZonesWidget.length; i++) {%>
			<button type="button"><%=listZonesWidget[i]%></button>
			<%}%>
		</div>
	</body>
</html>
