<!-- Afficher : Liste des Widgets sons -->
<!DOCTYPE html>

<html>
	<head>
		<title>Admin zone-widget sound</title> <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> <!-- values ok ?-->
   		<!--<link rel="stylesheet" href="public/css/style.css" type="text/css">-->
    	<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
	</head>

    <body class="admin">
		<div class="col-xs-12">
			<h1><p class="text-center"><Strong>Choose a Widget</strong></p></h1>
		</div>
		<div class="container">
			<%for (i=0; i< listWidgets.length; i++) {%>
				<div class="row">
					<div class="control-group">
						<div class="checkbox col-xs-1" background-color="lightgreen" text-align="center"><!-- bg color et align marchent pas -->
							<label id="<%=listWidgets[i]%>">
								<input type="checkbox">
							</label>
						</div>
						<button type="button" class="btn btn-primary col-xs-11"><%=listWidgets[i]%></button>
					</div>
				</div>
			<%}%>
		</div>
	</body>
</html>