<!-- juste pour avoir quelque chose -->
<!-- Afficher : Liste des Zones Widget (par défaut : Son + écrans)
	Pour chaque Zone-Widget : Afficher la liste des widgets qui amènera à la page du widget -->

<html>
	<head>
		<title>Admin</title>
		<!--<link rel='stylesheet' href='/public/css/style.css' /> -->
	</head>
	<body class="admin">
		<div class="container">
			<h1>Enceintes</h1>
			<div >
				<%=zoneWidgetSon%>
			</div>

			<h1>Ecran</h1>
			<div >
				<%=zoneWidgetEcran%>
			</div>
			<br class="clear" />
		</div>
	</body>
</html>