<script src="/socket.io/socket.io.js"></script>
<script src="/js/diffGlobal.js"></script>
<script>
    var listWidget = <%- JSON.stringify(listWidget) %>;
</script>
<!DOCTYPE html>

<html>
<head>
    <title>Choose ‘N’ Broadcast</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <style type="text/css">
        .notification {
            position:absolute;
            top:0;
            right:0;
        }
    </style>
</head>

<body>
<h1>Diffuse</h1>

<div id="notification" role="alert"></div>

<%
 // we include views of each active widget
for (i=0; i< listWidget.length; i++) {
    if(listWidget[i].nomWidget == 'pictures') { // TODO : only music works for the moment
%>
<%-     include('../widgets/'+listWidget[i].nomWidget+'/views/'+listWidget[i].nomWidget+'Diff')%>
<%
    }
} %>
</body>
</html>