<!DOCTYPE html>

<html>
<head>
    <title>Choose ‘N’ Broadcast</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>

<body>
<h1>Diffuse</h1>

</body>
</html>