<!DOCTYPE html>

<html>

<script src="/js/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/headerHP4.js"></script>


<head>
    <title>Choose ‘N’ Broadcast</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>

<body>

<h1>Choose 'n' Broadcast</h1>

<div class="row">
  <div class="col-md-4" id="now-playing">

  </div>

  <div class="col-md-8" id="three-next-songs">
  </div>
</div>


</html>