<script src="/socket.io/socket.io.js"></script>
<script src="/widgets/music/controllers/visitor.js"></script>
<script src="/js/menu.js"></script>

<!DOCTYPE html>

<html>
<head>
    <title>Choose ‘N’ Broadcast</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>

<body>
<h1>Welcome !</h1>

<div id="widget-list" class="list-group"></div>

<div class="panel panel-default">
    <div class="panel-body">
        <h4>Choose 'n' Broadcast</h4>

        Bored of those public places with lame music and poor utilisation of screens ? <br/>
        Bored of those nights at the bar with the same playlist every time ? <br/>
        <br/>
        Choose 'n' Broadcast is here for you ! <br/>
        <br/>
        Vote for the next music, ask for what you want to display on screens ! <br/>
        You have now the control on the place you are in ! <br/>
        <br/>
        Enjoy :)
    </div>
    <div class="panel-footer" align="center">Choose 'n' Broadcast ©</div>
</div>

</body>
</html>