
<%-include('header', {context: {selected: "home", activeWidgetsList: context.activeWidgetsList}})%>

<script src="/widgets/music/controllers/visitor.js"></script>

<h2>Welcome !</h2>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="panel panel-info">
            <div class="panel-heading"><h4><b>How to use Choose 'n' Broadcast ?</b></h4></div>
            <div class="panel-body">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> <b>Vote for the next content</b><br /><br />
                <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> <b>Suggest a change of multibox</b><br /><br />
                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> <b>Enjoy !</b><br />
            </div>
        </div>
    </div>
    <div class="panel-footer" align="center">Choose 'n' Broadcast ©</div>
</div>

</body>
</html>