<script>
    // Tip to pass variable to javascript
    var sessionId = <%- JSON.stringify(sessionId) %>;
    var listWidget = <%- JSON.stringify(listWidget) %>;
    var listZoneWidget = <%- JSON.stringify(listZoneWidget) %>;
    var listVoteVisitorWidget = <%- JSON.stringify(listVoteVisitorWidget) %>;
</script>

<script src="/socket.io/socket.io.js"></script>
<script src="/widgets/music/controllers/visitor.js"></script>
<script src="/js/menu.js"></script>
<script src="/js/widgetsList.js"></script>

<!DOCTYPE html>

<html>
<head>
    <title>Choose ‘N’ Broadcast</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>

<body onload="updateListWidgets(listWidget, listZoneWidget, listVoteVisitorWidget)">
<h1>Widgets list</h1>

<!-- Menu -->
<div id="widget-list" class="list-group"></div>

<div id="widgetList" class="list-group"></div>
<div id="test"></div>
</body>
</html>