<script src="/socket.io/socket.io.js"></script>
<script src="/widgets/music/controllers/visitor.js"></script>
<script src="/js/menu.js"></script>

<!DOCTYPE html>

<html>
<head>
    <title>Choose ‘N’ Broadcast</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>

<body>
<h1>Welcome !</h1>

<div id="widget-list" class="list-group"></div>

<div class="panel panel-default">
    <div class="panel-body">
        <h4>Choose 'n' Broadcast</h4>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dictum ligula eget orci fermentum, ac rutrum ex cursus. Integer gravida malesuada libero non consequat. Quisque bibendum lacus eu ipsum convallis, id consectetur justo volutpat. Cras fermentum consectetur laoreet. Donec et metus nec ante aliquet tempor et a nibh. Pellentesque laoreet erat in purus finibus, et gravida augue pharetra. <br /><br />
        Now it's your turn to choose !
    </div>
    <div class="panel-footer" align="center">Choose 'n' Broadcast ©</div>
</div>

</body>
</html>