<script src="socket.io/socket.io.js"></script>
<script src="widgets/music/controllers/visitor.js"></script>

<!DOCTYPE html>

<html>
<head>
    <title>Choose ‘N’ Broadcast</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>

<body>
<h1>Choose Music</h1>

<div id="music-list" class="list-group">

    <!-- Filled by function "updateVote" -->

</div>
</body>
</html>