<script src="/socket.io/socket.io.js"></script>
<script src="/widgets/music/controllers/visitor.js"></script>
<script src="/js/menu.js"></script>

<!DOCTYPE html>

<html>
<head>
    <title>Choose ‘N’ Broadcast</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>

<body>
<h1>Choose 'n' Broadcast</h1>

<div id="widget-list" class="list-group"></div>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="panel panel-info">
            <div class="panel-heading"><h4><b>How to use Choose 'n' Broadcast ?</b></h4></div>
            <div class="panel-body">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> <b>Vote for the next content</b><br /><br />
                <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> <b>Suggest a change of widget</b><br /><br />
                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> <b>Enjoy !</b><br />
            </div>
        </div>
    </div>
    <div class="panel-footer" align="center">Choose 'n' Broadcast ©</div>
</div>

</body>
</html>