

<div id="content-list" class="list-group">

    <!-- Filled by function "refreshList" -->

</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/widgetVisitor.js"></script>
<script type="text/javascript">
    refreshListAndVotes(<%-JSON.stringify(data.contentList)%>,
            <%-JSON.stringify(data.listVotes)%>,
            <%-JSON.stringify(context.idWidget)%>);
</script>