
<!--<div style="position: fixed; visibility: hidden">-->
<div>
    <iframe src="https://embed.spotify.com/?uri=spotify:track:4ZWIVzHovv04j75WAmDxHv"
            width="300" height="380" frameborder="0" allowtransparency="true">
    </iframe>
</div>


<!--<script src="/widgets/youtubeaudio/controllers/diff.js"></script>-->

<!-- (go see the music diff view to be inspired)-->