<!DOCTYPE html>

<html>
<head>
    <title>Choose ‘N’ Broadcast</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>

<body>
<h1>Manage Music</h1>

<form action="/widgets/music/admin/upload" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label for="InputFile">Fichier mp3 à ajouter</label>
        <input type="file" id="InputFiles" name="file" multiple="multiple">
    </div>
    <button type="submit" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Music
    </button>
</form>

<ul id="musicList" class="list-group">

    <!-- Filled by function "updateList" -->


</ul>

<script src="/socket.io/socket.io.js"></script>
<script src="/widgets/music/controllers/admin.js"></script>
<script type="text/javascript">updateList(<%-JSON.stringify(listContent)%>)</script>
<div class="container">
			<button type="button" class="btn btn-default"
					onclick="location.href='/adminZWSound'">Retour</button>
</div>
</body>
</html>