<script src="widgets/music/controllers/admin.js"></script>
<!DOCTYPE html>

<html>
<head>
    <title>Choose ‘N’ Broadcast</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>

<body>
<h1>Manage Music</h1>

<form action="/widgets/music/admin/upload" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label for="InputFile">File input</label>
        <input type="file" id="InputFile" name="file">
    </div>
    <button type="submit" class="btn btn-default btn-lg">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Music
    </button>
</form>

<ul id="music-list" class="list-group">

    <% for(var i=0; i<listContent.length; i++) { %>

    <li id=<%=i%> class="list-group-item">
        <span class="badge"><%=listContent[i].nbVote%></span>
        <%= listContent[i].nomContent %>
        <button type="button" class="btn btn-default btn-sm">
            <% if (true) {%>
            <span class="glyphicon glyphicon-ok"></span>
            <% } else {%>
            <span class="glyphicon glyphicon-remove"></span>
            <% } %>
        </button>
        <button type="button" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-trash"></span>
        </button>
    </li>

    <% } %>

</ul>

</body>
</html>