<script>
    // Tip to pass variable to javascript
    //var sessionId = <%- JSON.stringify(context.sessionId) %>;
    //var listContent = <%- JSON.stringify(data.listContent) %>;
    //var listVote = <%- JSON.stringify(data.listVotes) %>;
</script>

<script src="/socket.io/socket.io.js"></script>
<script src="/widgets/music/controllers/visitor.js"></script>
<script src="/js/menu.js"></script>

<!DOCTYPE html>

<html>
<head>
    <title>Choose ‘N’ Broadcast</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>

<body>
<h1>Choose Music</h1>

<div id="widget-list" class="list-group"></div>

<!-- List of contents added widgetListContentVisitor-->
<%- include('../../../views/widgetListContentVisitor', {context: context, data: data})%>

<!--<div id="music-list" class="list-group">-->
      <!--&lt;!&ndash; Filled by function "updateVote" &ndash;&gt;-->
<!--</div>-->

</body>
</html>