<!DOCTYPE html>

<html>
<head>
    <title>Choose ‘N’ Broadcast</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>



<body>
<h1>Diffuse Music</h1>

<!--<audio no-controls autoplay>-->
<audio controls autoplay id="player">
    <source src="/widgets/music/diff/stream/<%= new Date().getTime()%>" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>



<script src="/widgets/music/controllers/diff.js"></script>
</body>
</html>