<!DOCTYPE html>

<html>
<head>
    <title>Choose ‘N’ Broadcast</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <script src="widgets/music/controllers/diff.js"></script>
</head>



<body>
<h1>Diffuse Music</h1>

<!--<audio no-controls autoplay>-->
<audio controls autoplay>
    <source src="diff/stream" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>



</body>
</html>