<script>
    // Tip to pass variable to javascript
    var sessionId = <%- JSON.stringify(sessionId) %>;
    var listContent = <%- JSON.stringify(listContent) %>;
    var listVoteVisitor = <%- JSON.stringify(listVoteVisitor) %>;
</script>

<script src="/socket.io/socket.io.js"></script>
<script src="/widgets/music/controllers/visitor.js"></script>
<script src="/js/menu.js"></script>

<!DOCTYPE html>

<html>
<head>
    <title>Choose ‘N’ Broadcast</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>

<body onload="updateList(listContent, listVoteVisitor);">
<h1>Choose Music</h1>

<div id="widget-list" class="list-group"></div>

<div id="music-list" class="list-group">

    <!-- Filled by function "updateVote" -->

</div>
</body>
</html>