<script src="/socket.io/socket.io.js"></script>
<script src="/js/menu.js"></script>

<!DOCTYPE html>

<html>
<head>
    <title>Choose ‘N’ Broadcast</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>

<body>
<h1>Choose Music</h1>

<div id="widget-list" class="list-group"></div>

<!-- List of contents widgetListContentVisitor-->
<%- include('../../../views/widgetListContentVisitor', {context: context, data: data})%>


</body>
</html>