
<%-include('../../../views/header', {context: {selected: "picture", activeWidgetsList: context.activeWidgetsList}})%>

<script src="/js/widgetVisitor.js"></script>
<script src="/widgets/pictures/controllers/visitor.js"></script>

<h2>Choose Pictures</h2>

<ul id="content-list" class="list-group">

    <!-- Filled by function "refreshList" -->

</ul>

<script type="text/javascript">createList(<%-JSON.stringify(data.contentList)%>,
            <%-JSON.stringify(data.listVotes)%>,
            <%-JSON.stringify(context.idWidget)%>);
</script>
</body>
</html>