<!DOCTYPE html>

<html>
    <head>
        <title>Choose ‘N’ Broadcast</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div style="height: 100%;
                    width: 100%;
                    position: fixed;
                    top: 0px;
                    right: 0px;
                    background: url(/widgets/pictures/diff/stream/<%= new Date().getTime()%>) 50% 50% / contain no-repeat fixed black;"
            id="slideShowImages">
        </div>
        <script src="/widgets/pictures/controllers/diff.js"></script>
    </body>
</html>