<style>body{margin:0}</style>

<div style="height: 100%;
            width: 100%;
            position: fixed;
            top: 0px;
            right: 0px;
            background: url(/widgets/pictures/diff/stream/<%= new Date().getTime()%>) 50% 50% / contain no-repeat fixed black;"
    id="slideShowImages">
</div>
<script src="/widgets/pictures/controllers/diff.js"></script>