<!DOCTYPE html>

<html>
    <head>
        <title>Choose ‘N’ Broadcast</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <h1>Diffuse Pictures</h1>
        <div>
            <img src="/widgets/pictures/diff/stream/<%= new Date().getTime()%>" id="slideShowImages">
        </div>
        <script src="/widgets/pictures/controllers/diff.js"></script>
    </body>
</html>