<!DOCTYPE html>

<!--TODO : Put in header !-->
<script src="/socket.io/socket.io.js"></script>
<script src="/js/menu.js"></script>
<script src="/js/widgetVisitor.js"></script>
<script src="/widgets/pictures/controllers/visitor.js"></script>


<html>
<head>
    <title>Choose ‘N’ Broadcast</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>

<body>
<h1>Choose Pictures</h1>

<div id="widget-list" class="list-group"></div>

<ul id="content-list" class="list-group">

    <!-- Filled by function "refreshList" -->

</ul>

<script type="text/javascript">createList(<%-JSON.stringify(data.contentList)%>,
            <%-JSON.stringify(data.listVotes)%>,
            <%-JSON.stringify(context.idWidget)%>);
</script>
</body>
</html>