<!DOCTYPE html>

<html>
<head>
    <title>Choose ‘N’ Broadcast</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>



<body>
<div id="playerYoutubevideo"></div>

<script src="/widgets/youtubevideo/controllers/diff.js"></script>
</body>
</html>